@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f2ef;
  color: #0f0f0f;
}

@keyframes marquee {
  to { transform: translateX(-50%); }
}
.marquee { animation: marquee 25s linear infinite; }
